* {
  font-family: sans-serif;
}

:root {
  --background: #dddddd;
  --accent: #873C11;
  --muted: #87713b;
}

html {
  background-color: var(--background);
}

.page-content {
  width: 90%;
  margin: auto;
}

.page-title {
  margin: 2.5em 0 0 0;
  text-align: center;
}

.page-title img {
  border: 2px solid var(--accent);
  border-radius: 50%;
  width: 200px;
}

.page-title h1 {
  color: var(--accent);
  font-size: 3em;
  margin: 0;
}

.ofc {
  color: var(--muted);
  margin: 0 0 2em 0;
  text-align: center;
}

.words {
  list-style-type: none;
  margin: 2em 0;
  text-align: center;
}

.words li {
  background: var(--accent);
  border: 1px solid var(--accent);
  color: var(--background);
  display: inline-block;
  height: 2.3em;
  line-height: 2.3em;
  margin: 0 2em 2em 0;
  min-width: 370px;
  text-align: left;
}

.words li strong {
  background: var(--background);
  color: var(--accent);
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  margin-right: .5em;
  height: 100%;
  width: 30px;
  text-align: center;
}
